@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
:root {
  --conatiner-tablet: 87%;
  --container-mobile: 94%;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none;
}